<!DOCTYPE html>
<html>

<head>
	<!-- <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">   -->
	<meta name="author" content="home"> 
	<title> Visual </title>
	<style>
   p { display: block;
    margin-left: 20em;
    margin-right: 20em;
   vertical-align: middle;	}
    </style>
</head>



<body bgcolor="white">
	
	<div id="menu" align="center" >
         <a href="/home">  Home   </a>  |
		 <a href="/regress">  Regression   </a>   |
		 <a href="/neural">  Neural   </a>  |
		 <a href="/tree">  Tree   </a>
    </div>
	
	
	<center>
	
	<div style="color:black">
	<h2> Visualization </h2>
	</div>
	
	 <img src="/image/graph.png" alt="error" />
	 
	 <p> The above figures are taken from each  independent 
	 variables in the dataset.  Colors correspond to 
	 customers  stayed/left the bank as 
	 indicated in the legend.  The numbers above each bars 
	 correspond to the percentage of those who stayed/left 
     the bank for each bins.     </p>
	<p>  Comparing percentages across different bins, one can see 
	which variables play an important role in making customers
     	leave. For example, &quot;Age&quot;  and &quot;Geography&quot; 
		seems to play a role  while &quot;Tenure&quot; and 
       &quot;Has Credit Card&quot; seem to play less role.</p> 
	

	</center>
	
	<!-- </div>
    </div>
    </div>  -->
	
	
</body>
</html>

